In [16]:
import pandas as pd
import numpy as np
import matplotlib.dates as mdts
import matplotlib.pyplot as plt

In [17]:
data_inc = pd.read_csv('../data/PeMS/Incidents/all_text_chp_incident_day_2017_10_07.txt', sep=',', names=['IncidentID', 'CC_Code', 'Incident_No', 'Timestap', 'Description', 'Location', 'Area', 'Zoom_Map', 'TBxy', 'Latitude', 'Longitude', 'District', 'CountryFIPS_ID', 'CityFIPS_ID', 'FreewayNo', 'Freeway_direction', 'State_postmile', 'Absolute_postmile', 'Severity', 'Duration', 'Incident_ID', 'Detail_ID', 'Timestamp', 'description'])

data_inc = (data_inc.dropna(subset=['District']))[data_inc.columns[:-4]]

data_inc = data_inc.astype(dtype={'District':int})

In [19]:
data_inc.groupby(by='District').count()

,IncidentID,CC_Code,Incident_No,Timestap,Description,Location,Area,Zoom_Map,TBxy,Latitude,Longitude,CountryFIPS_ID,CityFIPS_ID,FreewayNo,Freeway_direction,State_postmile,Absolute_postmile,Severity,Duration
District,,,,,,,,,,,,,,,,,,,
1,10,10,10,10,10,10,10,0,0,10,10,10,3,10,10,10,10,0,8
2,3,3,3,3,3,3,3,0,0,3,3,3,0,3,3,3,3,0,3
3,75,75,75,75,75,75,75,0,0,75,75,75,39,75,75,75,75,0,72
4,309,309,309,309,309,309,309,0,0,309,309,309,230,309,309,308,309,2,304
5,38,38,38,38,38,38,38,0,0,38,38,38,15,38,38,38,38,0,38
6,22,22,22,22,22,22,22,0,0,22,22,22,7,22,22,22,22,1,22
7,516,516,516,516,516,516,516,0,0,516,516,516,441,516,516,515,516,1,512
8,131,131,131,131,131,131,131,0,0,131,131,131,87,131,131,131,131,1,130
10,52,52,52,52,52,52,52,0,0,52,52,52,21,52,52,52,52,0,52
11,112,112,112,112,112,112,112,0,0,112,112,112,88,112,112,110,112,0,112
12,96,96,96,96,96,96,96,0,0,96,96,96,88,96,96,96,96,0,93

In [20]:
data_d7 = data_inc[data_inc['District'] == 7]

In [21]:
data_inc.describe()

,IncidentID,Incident_No,Zoom_Map,TBxy,Latitude,Longitude,District,CountryFIPS_ID,CityFIPS_ID,FreewayNo,Absolute_postmile,Duration
count,1.364000e+03,1364.0,0.0,0.0,1364.000000,1364.000000,1364.000000,1364.000000,1019.000000,1364.000000,1364.000000,1346.000000
mean,1.751294e+07,171007.0,NaN,NaN,35.324490,-119.335045,6.864370,52.828446,46336.744848,161.080645,86.727052,35.777860
std,5.751796e+02,0.0,NaN,NaN,2.008406,1.978579,2.619962,26.623924,21804.525538,221.339120,128.531766,60.916535
min,1.751192e+07,171007.0,NaN,NaN,32.566344,-124.210557,1.000000,1.000000,394.000000,1.000000,0.000000,-1.000000
25%,1.751246e+07,171007.0,NaN,NaN,33.923948,-121.556429,4.000000,37.000000,31281.000000,14.000000,14.100000,5.000000
50%,1.751295e+07,171007.0,NaN,NaN,34.136314,-118.300394,7.000000,53.000000,44000.000000,88.000000,35.400000,18.000000
75%,1.751342e+07,171007.0,NaN,NaN,37.584853,-117.831404,8.000000,73.000000,66000.000000,140.500000,96.575000,43.000000
max,1.751397e+07,171007.0,NaN,NaN,41.441667,-114.727909,12.000000,115.000000,90310.000000,905.000000,750.200000,772.000000

In [22]:
data_d7.describe()

,IncidentID,Incident_No,Zoom_Map,TBxy,Latitude,Longitude,District,CountryFIPS_ID,CityFIPS_ID,FreewayNo,Absolute_postmile,Duration
count,5.160000e+02,516.0,0.0,0.0,516.000000,516.000000,516.0,516.000000,441.000000,516.000000,516.000000,512.000000
mean,1.751293e+07,171007.0,NaN,NaN,34.077717,-118.241655,7.0,41.015504,40933.532880,153.139535,43.694186,38.376953
std,5.649263e+02,0.0,NaN,NaN,0.159362,0.293122,0.0,16.780009,19132.766055,194.618711,49.819118,61.598826
min,1.751192e+07,171007.0,NaN,NaN,33.753769,-119.302222,7.0,37.000000,394.000000,1.000000,0.000000,-1.000000
25%,1.751250e+07,171007.0,NaN,NaN,33.984286,-118.387938,7.0,37.000000,30014.000000,10.000000,11.775000,6.000000
50%,1.751294e+07,171007.0,NaN,NaN,34.054032,-118.233230,7.0,37.000000,44000.000000,91.000000,22.650000,21.000000
75%,1.751338e+07,171007.0,NaN,NaN,34.153913,-118.084057,7.0,37.000000,44000.000000,210.000000,50.100000,50.000000
max,1.751397e+07,171007.0,NaN,NaN,34.756120,-117.663106,7.0,111.000000,90310.000000,710.000000,197.800000,772.000000

In [23]:
header = ['Timestamp', 'Station','District', 'Freeway', 'Direction of Travel', 'Lane Type', 'Station Length',
          'Samples', '% Observed', 'Total Flow', 'Avg Occupancy', 'Avg Speed', 
          'Lane 1 Samples', 'Lane 1 Flow', 'Lane 1 Avg Occ', 'Lane 1 Avg Speed', 'Lane 1 Observed',
          'Lane 2 Samples', 'Lane 2 Flow', 'Lane 2 Avg Occ', 'Lane 2 Avg Speed', 'Lane 2 Observed',
          'Lane 3 Samples', 'Lane 3 Flow', 'Lane 3 Avg Occ', 'Lane 3 Avg Speed', 'Lane 3 Observed',
          'Lane 4 Samples', 'Lane 4 Flow', 'Lane 4 Avg Occ', 'Lane 4 Avg Speed', 'Lane 4 Observed',
          'Lane 5 Samples', 'Lane 5 Flow', 'Lane 5 Avg Occ', 'Lane 5 Avg Speed', 'Lane 5 Observed',
          'Lane 6 Samples', 'Lane 6 Flow', 'Lane 6 Avg Occ', 'Lane 6 Avg Speed', 'Lane 6 Observed',
          'Lane 7 Samples', 'Lane 7 Flow', 'Lane 7 Avg Occ', 'Lane 7 Avg Speed', 'Lane 7 Observed',
          'Lane 8 Samples', 'Lane 8 Flow', 'Lane 8 Avg Occ', 'Lane 8 Avg Speed', 'Lane 8 Observed']

In [24]:
data_srs = pd.read_csv('../data/PeMS/Series/d07_text_station_5min_2017_10_07.txt', sep=',', names=header)

In [ ]:
data_srs[data_srs.columns[:-35]].head(30)

In [ ]:
dat

In [89]:
(data_srs['Station'].unique())

4827

In [92]:
data_srs.groupby(by='Station')['Station'].count().max()

288

In [2]:
data_srs.shape

NameError: name 'data_srs' is not defined

In [94]:
data_srs['Lane 1 Flow'].isnull().sum()

304244

In [1]:
data_srs_no_null = data_srs.dropna(subset=['Lane 1 Flow'])

NameError: name 'data_srs' is not defined

In [98]:
data_srs_no_null[data_srs.columns[:-35]].head()

,Timestamp,Station,District,Freeway,Direction of Travel,Lane Type,Station Length,Samples,% Observed,Total Flow,Avg Occupancy,Avg Speed,Lane 1 Samples,Lane 1 Flow,Lane 1 Avg Occ,Lane 1 Avg Speed,Lane 1 Observed
0,10/07/2017 00:00:00,715898,7,5,S,ML,0.430,0,0,150.0,0.0205,69.5,0,40.0,0.0146,73.3,0
9,10/07/2017 00:00:00,715918,7,5,N,ML,1.075,0,0,154.0,0.0275,69.5,0,41.0,0.0196,73.3,0
10,10/07/2017 00:00:00,715920,7,5,S,ML,1.290,0,0,437.0,0.0777,59.0,0,119.0,0.0707,64.3,0
11,10/07/2017 00:00:00,715923,7,5,S,OR,NaN,5,100,6.0,0.0063,NaN,5,6.0,0.0063,NaN,1
12,10/07/2017 00:00:00,715924,7,5,N,OR,NaN,5,100,20.0,0.0279,NaN,5,20.0,0.0279,NaN,1

In [101]:
data_srs_no_null.describe()

,Station,District,Freeway,Station Length,Samples,% Observed,Total Flow,Avg Occupancy,Avg Speed,Lane 1 Samples,...,Lane 7 Samples,Lane 7 Flow,Lane 7 Avg Occ,Lane 7 Avg Speed,Lane 7 Observed,Lane 8 Samples,Lane 8 Flow,Lane 8 Avg Occ,Lane 8 Avg Speed,Lane 8 Observed
count,1.085932e+06,1085932.0,1.085932e+06,785658.000000,1.085932e+06,1.085932e+06,1.085932e+06,1.085932e+06,785658.000000,1.085932e+06,...,0.0,0.0,0.0,0.0,1085932.0,0.0,0.0,0.0,0.0,1085932.0
mean,7.471739e+05,7.0,1.784174e+02,0.607948,1.616301e+01,6.934616e+01,1.856411e+02,6.008073e-02,61.962382,6.787667e+00,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
std,2.499956e+04,0.0,1.870289e+02,0.557786,1.555631e+01,4.397274e+01,1.946009e+02,6.703405e-02,11.028273,4.216447e+00,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
min,7.158980e+05,7.0,2.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000,0.000000e+00,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
25%,7.175260e+05,7.0,5.700000e+01,0.355000,4.000000e+00,0.000000e+00,2.700000e+01,1.830000e-02,61.700000,3.000000e+00,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
50%,7.615310e+05,7.0,1.050000e+02,0.470000,1.000000e+01,1.000000e+02,1.030000e+02,4.330000e-02,65.100000,1.000000e+01,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
75%,7.687510e+05,7.0,2.100000e+02,0.625000,3.000000e+01,1.000000e+02,3.240000e+02,7.740000e-02,67.800000,1.000000e+01,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
max,7.760200e+05,7.0,7.100000e+02,5.000000,6.000000e+01,1.000000e+02,1.475000e+03,9.989000e-01,80.700000,1.000000e+01,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0

In [104]:
data_srs_no_null.groupby(by=['Freeway'])['Timestamp'].count()

Freeway
2       13670
5       92246
10     126348
14      15976
23      17568
47       4320
57      22600
60      79070
71       3168
90       3456
91      48616
101     79362
105     49816
110     44721
118     63839
126      1440
134     34435
170     10262
210    126345
405    157170
605     68753
710     22751
Name: Timestamp, dtype: int64

In [107]:
dates = mdts.date2num(data_srs_no_null['Timestamp'])

AttributeError: 'str' object has no attribute 'toordinal'

In [ ]:
def plot_freeway_avg_speed(data, freeway_no):